<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HTML barebone</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="HTML barebone">

    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
  </head>
  <body>
    now logining you in....
    <script>
      // http://stackoverflow.com/questions/979975/how-to-get-the-value-from-the-url-parameter
      var QueryString = function (query) {
        // This function is anonymous, is executed immediately and 
        // the return value is assigned to QueryString!
        var query_string = {};
        var query = query || window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
          var pair = vars[i].split("=");
              // If first entry with this name
          if (typeof query_string[pair[0]] === "undefined") {
            query_string[pair[0]] = decodeURIComponent(pair[1]);
              // If second entry with this name
          } else if (typeof query_string[pair[0]] === "string") {
            var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
            query_string[pair[0]] = arr;
              // If third or later entry with this name
          } else {
            query_string[pair[0]].push(decodeURIComponent(pair[1]));
          }
        } 
          return query_string;
      };
      
      var query = QueryString();
      
      var sameOrigin;
      var caller = window.opener || (window.parent === window ? null: window.parent);
      
      try {
        sameOrigin = caller.location.host == window.location.host;
      } catch (e) {
        sameOrigin = false;
      }
      
      var event = {{JSON.stringify(event)}};
      if (caller && !caller.closed && sameOrigin) {
        if (!caller.closed) {
          try {
            caller.postMessage(event, "*");
          } catch (e) {
            try {
              caller.dispatchEvent(new MessageEvent('message', {data: event}));
            } catch (e) {
              try {
                caller.onmessage({data: event});
              } catch (e) {
              }
            }
          }
        }
        window.close();
      } else {
        if (!query.redirect) {
          window.location =
            window.location.protocol + 
            "//" + 
            location.hostname + 
            (location.port ? ':' + location.port: '') + 
            "/";
        } else {
          var redirectPath = query.redirect;
          
          var isValid = 0 === redirectPath.indexOf(
            window.location.protocol + 
            "//" + 
            location.hostname + 
            (location.port ? ':' + location.port: '') + 
            "/"
          )
          
          if (isValid) {
            location.href = redirectPath;
          } else {
            document.write('<strong>bad redirect page<strong>');
          }
        }
      }
    </script>
  </body>
</html>